

<div class="container">

	<div>
		<table id="sudokutable" class="  sudoku-table">



			<tr ng-repeat="x in sudoku.rowArray">
				<td class="column" ng-repeat="y in x.group"><input type='text'
					style="color: {{y.color" size='1' ng-model="y.value"
					onkeypress="if ( isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;"
					ng-keypress="inputChange(y,$event)"
					class="cell grp{{y.threeByThreeSquare.index}}"
					ng-disabled="y.found"></td>
			</tr>


		</table>
		<div class="button-div">


			<button class="solve-button" ng-click="solve()">solve</button>

		</div>
		<div class="button-div">
			<button class="clear-button" ng-click="clear()">clear</button>
			<button class="load-button" ng-click="loadDemo()">load random</button>

		</div>

	</div>